.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #d6d6d6;
  padding: 0em;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.item {
  margin-right: 1em;
}

.item a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.item a:hover {
  color: #00b0ac;
  text-decoration: none;
}
